<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ .AppName }} Password Reset</title>
</head>

<body>
  <h1>Reset your password</h1>

  <p>Hi{{ with .Username }} {{ . }}{{ end }}, you requested to reset your {{ .AppName }} password.</p>

  <p>Click the link below to create a new password:</p>
  <p><a href="{{ .ResetURL }}" target="_blank">{{ .ResetURL }}</a></p>

  <p>This link will expire in {{ .ResetURLTTL }} minutes.</p>

  <p>If you didn’t request a password reset, you can safely ignore this email.</p>

  <hr>
  <p>© {{ .Year }} {{ .AppName }}</p>
</body>

</html>